.body {
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    overflow: hidden;
    padding: 16px 32px;

    background: white;
    color: #022b3a;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.timer-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.module-block {
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    width: calc(25% - 15px);

    color: #022b3a;
    background-color: white;
    box-shadow: 0 2px 8px rgba(2, 43, 58, 0.1);
}
.time-container {
    display: flex;
    justify-content: center;

    padding: 20px;
    border-radius: 12px;

    font-size: 32px;
    font-weight: 600;
    background-color: #bfdbf7;
}
.time-text {
    color: #022b3a;
}
.module-btn {
    background-color: #1f7a8c;
    margin: 5px;
}

.x-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

#functionality-container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-btn {
    background: none;
    cursor: pointer;
    font-size: 1rem;
    color: #bfdbf7;
}
