.dark {
    width: 100vw;
    background-color: #313e50;
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

.dark .navbar {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    overflow: hidden;
    padding: 16px 32px;

    background: #3a435e;
    color: #ffffff;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.dark .logo {
    font-size: 24px;
    font-weight: 600;
}

.dark .timer-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.dark .module-block {
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    width: calc(25% - 15px);

    color: #ffffff;
    background-color: #3a435e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.dark .time-container {
    display: flex;
    justify-content: center;

    padding: 20px;
    border-radius: 12px;

    font-size: 32px;
    font-weight: 600;

    background-color: #455561;
}
.dark .time-text {
    color: #ffffff;
}
.dark .module-btn {
    background-color: #5c6672;
    margin: 5px;
}

.dark .x-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.dark #functionality-container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dark #btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark .delete-btn {
    background: none;
    cursor: pointer;
    font-size: 1rem;
    color: #6c6f7f;
}
